@media all and (min-width: 992px) {
  /* INIZIO MEDIA QUERY DESKTOP */
  /* **************************
  TEMPLATE
  ************************** */
  .scb-aside {
    min-width: 150px;
  }
  .scb-logo {
    width: 147px;
    margin-right: 28px;
  }
  .scb-search-bar {
    width: calc(100% - 350px);
  }
  .scb-header-nav {
    width: 147px;
    margin-left: 28px;
    /* margin-right: 3px;  */
  }

  /* CHIUSURA MEDIA QUERY DESKTOP */
}
